<h2 mat-dialog-title>{{ "changelog" | translate }}</h2>
<mat-dialog-content class="mat-typography">
  @defer {
    <markdown emoji [src]="'CHANGELOG.md'"></markdown>
  }
  @placeholder (minimum 3000ms) {
    ...
  }

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close color="accent" class="cy-changelog-close">{{ "break" | translate }}</button>
</mat-dialog-actions>
