<mat-toolbar role="navigation" color="primary">
  <div class="nav-row">
    <h1>{{ "headline" | translate }}</h1>
    <div class="action-row">
      @if(srvSettings.isAvailable('enable_multilanguage')) {
      <ag-language />
      }
      <button mat-icon-button color="danger" [matTooltip]="'settings' | translate" class="cy-button-settings"
        [attr.aria-label]="'settings' | translate" (click)="openSettings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<main role="main">
  <form (submit)="makeOutput(1,$event)" (keydown.enter)="makeOutput(1,$event)" [formGroup]="formGroup">
    <mat-card appearance="outlined">
      <mat-card-content>
        @if(loading) {
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
        }
        @if(!loading) {
        <p><b>{{ "description" | translate }}</b></p>
        <p class="note-wrapper">
          <ag-notification><b>{{ "note" | translate }}</b> {{ "notice" | translate }}</ag-notification>
        </p>
        <div class="form-wrapper">
          <mat-slide-toggle formControlName="explicit">{{ 'explicit' | translate }}</mat-slide-toggle>
          <mat-form-field>
            <mat-label>{{ "search_label" | translate }}</mat-label>
            <input type="search" matInput formControlName="search" placeholder="{{ 'placeholder' | translate }}"
              value="" role="searchbox" required [matAutocomplete]="auto">
            <mat-icon matPrefix>search</mat-icon>
            @if (formGroup.controls.search.hasError('required')) {
            <mat-error>{{ "error" | translate }}</mat-error>
            }
            <mat-autocomplete #auto="matAutocomplete">
              @for(option of srvNetbox.results | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
        }
      </mat-card-content>
      @if(!loading) {
      <mat-card-actions>
        <div class="action-row">
          <div>
            @if(srvSettings.isAvailable('enable_output')) {
            <button mat-flat-button color="primary" (click)="makeOutput(1,$event)" class="cy-button-out">{{ "output" |
              translate }}</button>
            }
          </div>

          <div>
            @if(srvSettings.isAvailable('enable_input')) {
            <button mat-stroked-button color="accent" (click)="makeOutput(2,$event)" class="cy-button-in">{{ "input" |
              translate }}</button>
            }
            @if(srvSettings.isAvailable('enable_transfer')) {
            <button mat-button color="accent" (click)="makeOutput(3,$event)" class="cy-button-transfer">{{
              "transfer" | translate }}</button>
            }
          </div>
        </div>
      </mat-card-actions>
      }
    </mat-card>
  </form>
</main>
<mat-toolbar role="banner">
  <div class="nav-row footer">
    <span>&copy; {{ year }} - Powered by <a mat-button href="https://www.waldheim.dev" target="_blank">waldheim.dev</a>
      <a mat-button target="_blank" href="https://forestdesign.atlassian.net/servicedesk/customer/portals">{{
        'bug_report' | translate }}</a></span>

    <button mat-button (click)="openChangelog()" class="cy-changelog"><span class="version">v{{version}}</span> - {{
      "changelog" | translate }}</button>
  </div>
</mat-toolbar>
