.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 100%;
  width: 100%;
  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.footer {
    flex-wrap: wrap;
    span {
      font-size: .8rem;
    }
  }
}

.action-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (64px * 2));

  form {
    width: 50rem;
    max-width: 90%;

    .note-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .form-wrapper {
      display: flex;
      flex-direction: column;
      > * {
        flex: 1 1 100%;
      }
    }
    .action-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 100%;
      > * {
        gap: .5rem;
        display: flex;
      }
    }
  }
}
