<button mat-button [matMenuTriggerFor]="menu" color="primary" class="cy-language"><span class="flag"
                                                                   style="background-image: url('https://flagicons.lipis.dev/flags/1x1/{{ current }}.svg')"></span> {{ current_name }}
  <mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <div class="menu-content">
    @for(lang of languageList; track lang.iso) {

    <button mat-menu-item (click)="changeLang(lang.iso)" class="cy-{{ lang.iso }}" [ngClass]="{'active': lang.iso === current}">
            <span class="text-wrapper"><span class="flag" style="background-image: url('https://flagicons.lipis.dev/flags/1x1/{{ lang.iso }}.svg')"></span> <span>{{ lang.name }}</span></span>
    </button>
    }
  </div>
</mat-menu>
