@use 'sass:map';
@use '@angular/material' as mat;
@use "../../../../theme" as myt;


.flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: .5px solid #ccc;
}

button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.active {
    background-color: mat.get-theme-color(myt.$my-theme, surface-variant);
    color:  mat.get-theme-color(myt.$my-theme, on-surface-variant);

    .flag {
      border-color:  mat.get-theme-color(myt.$my-theme, on-surface-variant);
    }
  }
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > button {
    flex: 1 3 33%;

    .text-wrapper {
      display: inline-flex;
      gap: 0.2rem;
      align-items: center;
      justify-content: center;
    }
  }
}

