<h2 mat-dialog-title><span>{{ "preview" | translate }}</span> -
  @switch(mode) {
    @case(1) {
      {{ "typ_out" | translate }}
    }
    @case(2) {
      {{ "typ_re" | translate }}
    }
    @case(3) {
      {{ "typ_tr" | translate }}
    }
  }
</h2>
<mat-dialog-content class="mat-typography">
  <div class="print" #printview  id="print-section">
    <p>{{ server.company }}<br>{{ server.address }}</p>
    <hr>
    <h1 align=center>
      @switch(mode) {
        @case(1) {
          {{ "typ_out" | translate }}
        }
        @case(2) {
          {{ "typ_re" | translate }}
        }
        @case(3) {
          {{ "typ_tr" | translate }}
        }
      }
    </h1>
    <table cellpadding=5>
      <tr>
        <td><b>{{ "user" | translate }}</b></td>
        <td> {{ tenant }} </td>
      </tr>

      <tr>
        <td><b>{{ "title" | translate }}</b></td>
        <td> {{ devicename }} </td>
      </tr>

      <tr>
        <td><b>{{ "device" | translate }}</b></td>
        <td> {{ name }} {{ model }} </td>
      </tr>

      <tr>
        <td><b>{{ "buydate" | translate }}</b></td>
        <td> {{ dop }} </td>
      </tr>

      <tr>
        <td><b>{{ "inventar" | translate }}</b></td>
        <td> {{ asset_tag }} </td>
      </tr>

      <tr>
        <td><b>{{ "serial" | translate }}</b></td>
        <td> {{ serial }} </td>
      </tr>

      <tr>
        <td><b>{{ "comment" | translate }}</b></td>
      </tr>

    </table>

    <table border cellspacing=0 cellpadding=5 width=100% height=200>

      <tr valign=top>
        <td [innerHTML]="comments"></td>
      </tr>

    </table>
    <p><strong>
    @switch(mode) {
      @case(1) {
        {{ "fromto_out" | translate }}
      }
      @case(2) {
        {{ "fromto_re" | translate }}
      }
      @case(3) {
        {{ "fromto_tr" | translate }}
      }
    }
    </strong></p>
    <p>{{ "name" | translate }}:<br>&nbsp;</p>
    <p>{{ "sign" | translate }}:<br>&nbsp;</p>
    <p>{{ "date" | translate }}:<br>&nbsp;</p>

    @switch(mode) {
      @case(1) {
        <p [innerHTML]="server.output"></p>
      }
      @case(2) {
        <p [innerHTML]="server.return"></p>
      }
      @case(3) {
        <p [innerHTML]="server.transfer"></p>
      }
    }
    <p>{{ "sign" | translate }} {{ "user" | translate }}:<br>&nbsp;</p>
    <hr>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary"   printSectionId="print-section" agPrint [printStyle]="{body: {'font-family': 'Arial, Verdana, sans-serif','font-size': '12pt'}}">{{ "print" | translate }}</button>
  <button mat-stroked-button mat-dialog-close color="accent" class="cy-print-close">{{ "break" | translate }}</button>
</mat-dialog-actions>
