@use 'sass:map';
@use '@angular/material' as mat;
@use "../../../../theme" as myt;


:host {
  background-color: mat.get-theme-color(myt.$my-theme, surface-container);
  color: mat.get-theme-color(myt.$my-theme, on-surface);
  border-radius: 4px;
  padding: 16px;
}
