/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  max-height: 100vh;
  overflow: hidden;
}
.mat-mdc-dialog-container {
  min-width: 98%;
  max-width: 1000px;
}


.mdc-button .mdc-button__label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.mat-mdc-slide-toggle {
  display: flex;
  line-height: 1.5rem;
  margin-bottom: 1rem !important;
}

.mat-mdc-unelevated-button, .mat-mdc-raised-button {
  --mdc-filled-button-label-text-color: #fff !important;
  --mdc-protected-button-label-text-color: #fff !important;
}


@media screen and (max-width: 599px) {
  h1 {
    font-size: 1.25rem;
  }
}
