@use '@angular/material' as mat;
@use 'assets/colors' as colors;

@include mat.elevation-classes();
@include mat.app-background();

$my-theme: mat.define-theme((
  color: (
    primary: mat.$orange-palette
  )
));

body {
  @include mat.all-component-themes($my-theme);
}
.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: clamp(280px, 440px, 440px) !important;
}
