<h2 mat-dialog-title>{{ "settings" | translate }}</h2>
<mat-dialog-content>
  <p>{{ 'settings.description' | translate }}</p>
  <form [formGroup]="form">
    <aside>
      <mat-slide-toggle formControlName="enable_output">{{ 'settings.en.output' | translate }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="enable_input">{{ 'settings.en.input' | translate }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="enable_transfer">{{ 'settings.en.transfer' | translate }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="enable_multilanguage">{{ 'settings.en.multi' | translate }}</mat-slide-toggle>
    </aside>
    <section>
      <mat-form-field>
        <mat-label>{{ 'settings.default.lang' | translate }}</mat-label>
        <mat-select formControlName="default_language">
          @for (lang of languages; track lang.iso) {
            <mat-option [value]="lang.iso"><span class="flag-options"><span class="flag"
                                                 style="background-image: url('https://flagicons.lipis.dev/flags/1x1/{{ lang.iso }}.svg')"></span> {{ lang.name }}
              </span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-divider vertical="true"></mat-divider>
      <div class="col-50">
        <mat-form-field>
          <mat-label>{{ 'settings.url' | translate }}</mat-label>
          <input matInput type="url" formControlName="url">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'settings.token' | translate }}</mat-label>
          <input matInput type="password" formControlName="token">
        </mat-form-field>
      </div>
      <div class="col-50">
        <mat-form-field>
          <mat-label>{{ 'settings.company' | translate }}</mat-label>
          <input matInput formControlName="company">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'settings.address' | translate }}</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>{{ 'settings.output' | translate }}</mat-label>
        <textarea rows="4" matInput formControlName="output"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'settings.return' | translate }}</mat-label>
        <textarea rows="4" matInput formControlName="return"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'settings.transfer' | translate }}</mat-label>
        <textarea rows="4" matInput formControlName="transfer"></textarea>
      </mat-form-field>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <a mat-flat-button color="primary" [href]="downloadJsonHref"
     download="server.json">{{ "settings.export" | translate }}</a>
  <button mat-stroked-button mat-dialog-close color="accent" class="cy-setting-close">{{ "break" | translate }}</button>
</mat-dialog-actions>
