@use 'sass:map';
@use '@angular/material' as mat;
@use "../../theme" as myt;
form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
  section {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside {
    flex-direction: column;
  }
  aside, section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    > * {
      flex: 0 0 100%;
    }
    .col-50 {
      display: flex;
      gap: .5rem;
      > * {
        flex: 0 0 calc(50% - .25rem);
      }
    }
  }
}


.flag-options {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  .flag {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}
